.postlist-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;

  .postlist-post {
    flex-basis: auto; //Without this, posts appear in two columns on mobile
    height: 250px;
    position: relative;

    @include bp(l) {
      height: 500px;
    }

    // .content {
    //   height: 50%;
    //   overflow: hidden;

    //   @include bp(l) {
    //     height: 80%;
    //   }
    // }

    .innerContentWrapper {
      flex-direction: column;
      height: 50%;
      overflow: hidden;

      @include bp(l) {
        height: 80%;
      }

      img {
        max-width: 100%;
      }

    }

    .delete {
      bottom: 20px;
      right: 20px;
      position: absolute;
    }

    &__spacing {
      height: 100%;
      width: 100%;
    }
  }
}