.postlist-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 5%;
  
  .postlist-post {
    width: 100%; 
    
    @include bp(m) {
      width: 30%;
    }
  }
}