.social-bar {
  align-items: center;
  display: flex;
  width: 50%;

  li {
    margin-right: 15px;
  }

  li,
  li a,
  button {
    align-items: center;
    display: flex;
  }

  .updoots {
    &__liked {
      cursor: pointer;
      margin-right: 5px;
    }
  }

  button {
    background-color: #fff;
    border: none;
  }

  .green-up-arrow,
  .email-logo,
  .twitter-logo {
    width: 20px;
  }
}
